// Colors
$purple-bg: #cdd1eb;
$header-white: #efeaec;
$header-bg: #5a4291;
$green: #9bcf1f;
$purple-dark: #3f2d6c;
$text-purple: #543178;
$light-green: #a0d717;
$border-green: rgba(206,228,143,0.8);
$text-purple-light: #6f4fb9;
$overlay-purple: rgba(63,45,108,0.7);

// Breakpoints

$break-small: 768px;
$break-medium: 992px; 